#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: calc((100vw - 1480px) / 2 + 61px);
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(50, 115, 220); /* Set a background color */
  color: white; /* Text color */
  // cursor: pointer; /* Add a mouse pointer on hover */
  // padding: 15px; /* Some padding */
  // border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transition: all 1s;
}
  
#myBtn:hover {
background-color: rgb(85, 85, 85); /* Add a dark-grey background on hover */
}

@media only screen and (max-width: 1408px) {
  #myBtn {
    right: 20px;
  }
}

.sketch-button {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  appearance: none;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  // background-image: linear-gradient(
  //   90deg, #d50af0, #f8ecc9, #a7e6d2
  // );
  border-radius: 11px;
  padding: 12px 20px;

  color: #14387e;
  box-shadow: 0 1px 2px RGBA(0 0 0 / 2%), 0 4px 16px RGBA(0 0 0 / 2%),
    0 4px 24px RGBA(0 0 0 / 2%);

  &.start {
    svg {
      animation: stroke 1s linear;
    }
  }

  .lines {
    position: absolute;
    inset: 0;
    mix-blend-mode: hard-light;
    pointer-events: none;
    z-index: 1;

    & > div {
      position: absolute;
      inset: 0;

      &:last-child {
        transform: rotate(180deg);
      }

      svg {
        display: block;
        position: absolute;
        inset: 0;
        overflow: visible;
        fill: none;
        stroke-width: 2;
        stroke: #c9e9ff;
        width: 100%;
        height: 100%;
        stroke-dasharray: 2 10;
        stroke-dashoffset: 14;
        opacity: 0;
      }

      svg {
        &:nth-child(1) {
          stroke: #f8fcff;
        }
        &:nth-child(2) {
          stroke-width: 6px;
          filter: blur(20px);
        }
        &:nth-child(3) {
          stroke-width: 5px;
          filter: blur(6px);
        }
        &:nth-child(4) {
          stroke-width: 10px;
          filter: blur(56px);
        }
      }
    }
  }
}

@keyframes stroke {
  30%,
  55% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 4;
    opacity: 0;
  }
}