/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bulma';
@import 'functions';
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';

// ------------------------------------------------------------------------------------------------//
// TODO niewiwm dlaczego nie bierze z bulmy
// =================================================================================================
.message-body {
  border-color: #dbdbdb;
  border-radius: 0.375em;
  border-style: solid;
  border-width: 0 0 0 4px;
  color: #4a4a4a;
  padding: 1.25em 1.5em;
}

.image {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  // font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  color: #4a5d85;
  margin-bottom: 24px;

  scroll-behavior: smooth;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.textarea {
  height: 100vh;
  font-family: Monaca, san-serif;
  font-size: 0.9rem;
  padding: 1rem;
}

.discussion-title {
  margin-bottom: 0;
}
h4 {
  margin-top: 0.8rem !important;
}
.pt {
  &-1 {
    margin-top: 1rem;
  }
}
.pt-5 {
  margin-top: 5rem;
}

// ---------------------------------------//
// Margins
.mb-0 {
  margin-bottom: 0 !important;
}

.red {
  color: red;
}
table {
  // max-width: fit-content;
  tr:nth-child(2n) {
    background-color: #f6f8fa;
  }
}

.content {
  pre {
    // background-color: #1f2330 !important;
    color: rgb(7, 156, 156);
    border-radius: 5px;
    margin: 0.5rem 0;
  }
}

.toc_text {
  position: sticky;
  top: 2rem;
  margin-top: 1rem;
  ul {
    padding-left: 0;
    ul {
      // padding-left: 1rem;
      li {
        padding-left: 1rem;
        border-left: #dbdbdb 1px solid;
      }
    }
  }
}

mark {
  background-color: hsl(171, 100%, 96%);
  color: hsl(141, 71%, 48%);
  padding: 0.3rem;
  font-weight: bold;
}

.main_picture {
  background-color: white;
  border-radius: 5px;
  // box-shadow: 0 2px 3px RGB(10 10 10 / 10%), 0 0 0 1px RGB(10 10 10 / 10%);
}

.button-center-down {
  position: absolute;
  top: 50%;
  left: 50%;
}
